:root {
    --left-txt-color: white;
}
* {
    box-sizing: border-box;
}
body,html {
    margin: 0;
    padding: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: "a b" 100%; 
}

.left-card {
    width: 40%;
    position: relative;
}

.left-card > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.left-card > p {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: var(--left-txt-color);
    opacity: 50%;
}

.banner, .left-card > p {
    text-align: center;
}

.banner {
    display: flex;
    position: absolute;
    top: 30%;
    z-index: 1;
    font-size: 4em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    align-items: center;
    justify-content: center;
    color: var(--left-txt-color);
}

.banner > img {
    max-height: 100%;
    width: 200px;
}

a {
    color: var(--left-txt-color)
}

